/* You're welcome to change any of this! */
* 

body {
    margin: 0px;
    @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap') ;
}

body {
    font-family: 'Bodoni Moda', serif;
/*    font-size: 1.3em; */
}

header, section {
    background-color:#918882;
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}
#tutorials {
    background-color: #bbada3;
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;     
    border: dotted 1px #CCC;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
}
#homework {
    background-color: #918882;
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;     
    border: dotted 1px #CCC;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
}
#inspiration {
    background-color: #bbada3;
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
}

