/* You're welcome to change any of this! */
* 

body {
    margin: 0px;
    @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap') ;
}

body {
    font-family: Didot, serif;
/*    font-size: 1.3em; */
}

header, section {
    background-color:#93a9d1;
    padding: 20px;
    color: #f7caca;
}
p, li {
    line-height: 1.5em;
}
#tutorials {
    background-color: rgb(206, 164, 213);
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;     
    border: dotted 1px #CCC;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
    color: #f7caca;
}
#homework {
    background-color: #f7caca;
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;     
    border: dotted 1px #CCC;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
    color: rgb(206, 164, 213);
}
#inspiration {
    background-color: rgb(206, 164, 213);
    padding-top: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;    
    padding: 10px;              
    margin: 0px;               
    width: 100%;
    color: #f7caca;
}